.url{
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: lightskyblue;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}